body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: #31304D;
}

body::-webkit-scrollbar-thumb {
    background-color: #1b1079;
}

h1 {
    margin: 30px;
    color: #fff;
    font-size: 2.2rem;
}

.certificados {
    margin-bottom: 5%;
}

.certificates {
    margin-top: 2rem;
}

.certificados:hover {
    transform: scale(1.1);
    transition: .2s;
}