.container {
margin-top: 6%;
margin-bottom: 5%;
}

.left {
    margin-left: 4%;
}

.border {
    border-radius: 10px;
}

h2 {
    font-size: 1.9rem;
    font-weight: bold;
}

.imagens {
    display: flex;
}

.imgProject {
    margin-bottom: 2%;
} 

.project {
    margin-top: 2rem;
}

.project .imgProject:hover {
    transform: scale(1.1);
    transition: .2s;
}
