.container {
margin-top: 6%;
margin-bottom: 5%;
}

.border {
    border-radius: 10px;
}

h2 {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.imagens {
    display: flex;
}

.imgProject {
    margin-bottom: 2%;
} 

.project {
    margin-top: 2rem;
}

.project .imgProject:hover {
    transform: scale(1.1);
    transition: .2s;
}

#projetos h6 {
    margin-top: 6px;
}

@media (max-width: 550px) {
.project {
display: inline-grid;
} 

}